<h2>
    {{acao}} successfully added

</h2>
<hr>

<a href="/admin/add">
    <button type="button" class="btn btn-primary btn-lg btn-block">
        Add Client
    </button>
</a>
<br>
<a href="/admin/lista">
    <button type="button" class="btn btn-secondary btn-lg btn-block">
        customer list
    </button>
</a>
<hr>
<button onclick="window.history.back().onload()" type="button" class="btn btn-secondary btn-lg btn-block">
    Voltar a pagina
</button>
