<h2>Customer List</h2>
<hr>
<div id="main" class="container-fluid">
    <div>
            <a href="/admin/add" class="btn btn-primary btn-lg btn-block">New Client</a>
    </div>

    <hr>
    <div id="list" class="row">

        <div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>options</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each listClient}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.email}}</td>
                        <td class="actions">
                            <form action="/admin/ver" method="post">
                                <button type="submit" class="btn btn-success btn-xs" >To view
                                </button>
                                <input type="hidden" name="key" id='key' value="{{this.email}}">
                            </form>

                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>

        </div>
    </div> <!-- /#list -->

    <div id="bottom" class="row">

    </div> <!-- /#bottom -->
</div> <!-- /#main -->